.card{
    background-color: darkolivegreen;
    border: solid hotpink 3px;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    width: min-content;
}

.cardPic{
    border-radius: 50%;
    border: solid hotpink 3px;
    height: available;
}

.cardHeader {
    background-color: beige;
}